In [1]:
import pandas as pd

In [23]:
df = pd.read_excel('fAST patents v1 vs. v3 comparison.xlsx',sheet_name=0)
df = df.iloc[:,1:]
df.dropna(inplace=True)
df

,family_members,inpadoc_family_id
38,US5348909A_ | GB199405147D0 | GB2277717A8 | GB...,00010101GB2277717A8
39,US1022188A_,19120402US1022188A_
40,US1237937A_,19170821US1237937A_
41,US2938436A_ | US2780146A_,19570205US2780146A_
42,US2940246A_ | DE1087498B_ | FR1160027A_ | GB79...,19580625GB796986A_
...,...,...
156156,US11438988B1,20220906US11438988B1
156157,US11456863B1,20220927US11456863B1
156158,US11472243B1,20221018US11472243B1
156159,US11483078B1,20221025US11483078B1
156160,USD969409S1,20221108USD969409S1

In [24]:
df['family_members'] = df['family_members'].str.split('|')
df = df.explode('family_members').reset_index().iloc[:,1:]
df['family_members'] = df['family_members'].str.strip()
df = df.drop_duplicates()
df = df.dropna(inplace=True)

        family_members     inpadoc_family_id
0          US5348909A_   00010101GB2277717A8
1        GB199405147D0   00010101GB2277717A8
2          GB2277717A8   00010101GB2277717A8
3          GB2277717A_   00010101GB2277717A8
4          GB2277717B_   00010101GB2277717A8
...                ...                   ...
5589100   US11438988B1  20220906US11438988B1
5589101   US11456863B1  20220927US11456863B1
5589102   US11472243B1  20221018US11472243B1
5589103   US11483078B1  20221025US11483078B1
5589104    USD969409S1   20221108USD969409S1

[753281 rows x 2 columns]

In [25]:
df.to_excel('final.xlsx',index=False)